h1, h2 {
    background-color: black;
    color: white;
}

.body {
    margin: 0 auto;
    width: 800px;
    position: relative;
}

.console {
    background-color: lightblue;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Consolas, "Lucida Console", Monaco, monospace;
    padding: 4px;
}

.header {
    margin: 0 auto;
    width: 800px;
    position: relative;
}

.step {
    background-color: #EEEEEE;
}
